@import url(../../node_modules/lightgallery/dist/css/lightgallery.css);
@import url(../../node_modules/owl.carousel/dist/assets/owl.carousel.css);
@import url(../../node_modules/sweetalert2/dist/sweetalert2.all.css);
@import url(../../node_modules/font-awesome/css/font-awesome.css);
body {
  background-color: #f4478f; }
  body .row {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  body .content {
    position: relative; }
    body .content .img-firt-page {
      margin-bottom: 50px;
      width: 100vw; }
    body .content .text-first-page {
      width: 100vw;
      text-align: center;
      position: absolute;
      top: 400px;
      color: white; }
      body .content .text-first-page h1 {
        margin-bottom: 5%;
        text-shadow: 3px 3px 7px black; }
      body .content .text-first-page .pink-btn {
        text-transform: uppercase;
        font-weight: bold;
        background-color: #f08cb2;
        padding: 10px 1px;
        font-size: 2em; }
        body .content .text-first-page .pink-btn:hover {
          background-color: #f4478f;
          transition: 1s;
          cursor: pointer; }
    body .content .cards {
      margin-top: 25px; }
    body .content .card-image {
      padding: 0;
      background-color: white; }
      body .content .card-image span {
        font-size: 2em; }
  body .navbar {
    background-color: #f4478f; }
  body .navbar-brand {
    color: white !important;
    margin-left: 20%;
    font-size: 2em; }

.col-5 {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342); }

.backgroundHome1 {
  width: 70vw;
  height: 40vw;
  background-color: white;
  margin: auto;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.575);
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 60px 60px 60px 100px 1fr 1fr; }
  .backgroundHome1 .presHome1 {
    width: 100%;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.425);
    grid-column: 1;
    grid-row: 1 span 4;
    margin: 30px;
    margin-top: 10px; }
  .backgroundHome1 .prixHome1 {
    grid-column: 2;
    margin: auto; }
  .backgroundHome1 .nombrePiece {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    font-size: 2em; }
  .backgroundHome1 .metreCarre {
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    font-size: 2em; }
  .backgroundHome1 .boutonAcheter {
    grid-column: 2;
    grid-row: 4;
    margin: auto;
    background-color: #f08cb2;
    box-shadow: 3px -3px 0px #f4478f; }
    .backgroundHome1 .boutonAcheter :hover {
      cursor: pointer; }
    .backgroundHome1 .boutonAcheter p {
      color: white;
      text-transform: uppercase;
      margin: auto;
      display: block;
      font-size: 2em;
      padding: 5px; }
  .backgroundHome1 .presentationMaison {
    padding: 30px;
    grid-row: 5 / span 6;
    grid-column: 1 / span 2;
    text-align: justify; }

footer {
  width: 100%;
  height: 70px;
  background-color: black;
  margin: 0; }
  footer legend {
    color: white;
    display: block; }

/*# sourceMappingURL=style.css.map */
